html, body {
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Roboto', sans-serif;
}
body{

    background-color: #231429;
}

img{
    border-radius: 8px;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    position: relative;



}
/*  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'); */

.container{
    width: center;
    position: relative;
}

.autocomplete-input{
    width: calc(100% - 70%);
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    outline: none;
}

.autocomplete-input ::placeholder{
    color: #48438f;
    font-weight: bold;
}

.autocomplete-list{
    position: absolute;
    top: 46px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-list li {
    color: 48438F;
    padding: 15px;
    width: calc(100% - 30px);
}
